/* css screen unutuk dibawah 600px */
/* h1 {
  font-size: 30px;
  color: blue;
} */
/* jika layar dibawah 600px tulisan jadi 15px */
body{
    font-family: "Merriweather", serif;
}
@media (max-width: 600px) {
  /* h1 {
    font-size: 15px;
    color: yellowgreen;
  } */
}
/* jika landscape warna aqua dan ketika dibawah600 px akan yellow */
@media (orientation: landscape) and (max-width: 600px) {
  /* h1 {
    color: aqua;
  } */
}
@media(max-width: 600px ) {
    .card{
        width: 100%;
        display: block;
        text-align: justify;
    }
    .card img{
        width: 100px;
    }
}
.left-section{
    float: left;
}
.left-section img{
    object-fit: cover;
}
.right-section{
    float: right;
}
.right-section img{
    object-fit: cover;
}